*:root {
  --dark-green: #276955;
  --light-green: #41a58d;
  --main--font: "Simonetta", cursive;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.menu {
  overflow: auto;
  position: absolute;
  right: -50rem;
  width: 45vw;
  max-width: 25rem;
  height: 100vh;
  background-color: white;
  animation: slide 0.3s forwards;
}

@keyframes slide {
  100% {
    right: 0;
  }
}
.modal-title {
  margin: 0;
  background-color: var(--dark-green);
  font-size: 2rem;
  color: white;
  font-family: var(--main--font);
  padding: 1rem;
}

.close {
  width: 3rem;
  height: 1rem;
}
.close:hover {
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  top: 2.7%;
  right: 10%;
  content: " ";
  height: 30px;
  width: 5px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.modal-img {
  height: clamp(2rem, 20rem, 15rem);
}
.empty-cart {
  display: flex;
  height: 60vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-green);
  font-weight: bold;
}

.shop-books-btn {
  background-color: var(--light-green);
  min-height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.shop-books-btn:hover {
  transform: scale(1.05);
}
.shop-books-btn:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}
.cartInfo {
  height: 65%;
  padding-bottom: 2rem;
  overflow: auto;
}

.bookInfo {
  display: flex;
  gap: 1.5rem;
}
.bookCartImage {
  height: 6.5rem;
  padding-left: 1rem;
}
.bookCartInfo {
  font-size: 0.8rem;
}
.removeCartBtn,
.checkOut {
  background-color: #41a58d;
  min-height: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.removeCartBtn {
  width: 5rem;
}

.checkOut-Container {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkOut {
  width: 14rem;
  height: 3rem;
}

.removeCartBtn:hover,
.checkOut:hover {
  transform: scale(1.05);
}
.removeCartBtn:active,
.checkOut:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

.total {
  margin: 0;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.062);
}
